*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #fff;
}

body{
    width: 100%;
    max-width: 1440px;
    display: grid;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
    height: min-content;
}

.links-group{
    list-style: none;
    display: flex;
    white-space: nowrap;
}

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    /* padding: 10px 30px; */
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.home-section.active, 
.project-section.active,
.skills-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.skills-section.active .skill-card {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* home section */

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 5rem;
    opacity: 0;
    transition: 1s;
}

.presentation{
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
}

.presentation p{
    color: #9b83f3;
    opacity: .6;
}

.home-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45%;
    object-fit: cover;
    opacity: 0.2;
}

/* project section */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}
.projects{
    font-size: 100px;
    background: #7c7c7c;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.project-card{
    height: 500px;
    position: relative;
    margin-bottom: 2rem;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
    border-radius: 10px;
}

.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: 1s;
    opacity: 0;
}

.project-title{
    font-size: 50px;
    color: #fff;
    text-shadow: #232323 2px 2px 3px;
    text-align: center;
    font-weight: 380;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: #232323 2px 2px 3px;
}

.project-btns{
    display: flex;
}

.project-btn{
    width: 50%;
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin: 0.2rem;
}
.project-btn a{
    text-decoration-style:none;

}

.project-card:hover .project-img{
    filter: blur(30px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/* about section */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 5rem 2rem 0;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.about{
    width: 100%;
    /* display: grid;
    grid-template-columns: 30% 65%; 
    grid-gap: 40px;*/
}

.about-img-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.about-info{
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
    line-height: 40px;
}

.about-img{
    /* width: 40%; */
    height: 15rem;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
}

.cv-btn{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    background: #5630dfa4;
}

.cv-btn:hover{
    background: #5630df;
}

/* skills section */

.skills-section{
    width: 100%;
    min-height: 100vh;
    padding: 5rem 0 0;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 4rem;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    justify-items: center;
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 20px;
    /* grid-gap: 100px; */
    color: #fff;
} 

.skill-card{
    width: 85%;
    position: relative;
    background: #aea2da40;
    border-radius: 20px;
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
    width: 90%;
    object-fit: contain;
}

.skill-name{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: .7;
    font-size: 12px;
    line-height: 30px;
}

/* timeline section */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading{
    margin-bottom: 150px;
}

.card-timeline{
    width: 45%;
    padding: 80px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #5630df;
}

.card-timeline:nth-child(even){
    margin-left: auto;
}

.card-timeline:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
}

.card-timeline:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card-timeline:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
}

.card-timeline:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card-timeline:nth-child(n), .card-timeline:nth-child(n):before{
    background: #5630df;
}

.card-timeline:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}
.card-timeline:nth-child(odd) .card-body:before{
    content: '';
    position: absolute;
    right: -10.8%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* contact section */

.contact-section{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    /* text-transform: capitalize; */
    color: #fff;
    padding: 5px 10px;
}

::placeholder{
    color: #fff;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: #aea2daa9;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.social-media{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.linkedin .github{
    margin: 1rem 1rem 1rem;
}

.social-media button{
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    border: none; 
    cursor: pointer;  
    height: 120px;     
    margin: 3rem;
}

.social-media-img{
    height: 100%;
    width: 100%;
}

@media (min-width: 600px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
    }
    .skills-container{
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        /* grid-gap: 100px; */
        color: #fff;
    } 
  }

  @media screen and (max-width: 768px) {
    .navbar {
        justify-content: flex-start;
        padding: 0.5rem 1rem;
    }

    .menu-toggle {
        display: block;
    }

    .links-group {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1a1a1a;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        /* transform: translateY(-125%);
        transition: transform 0.3s ease-in-out; */
    }

    /* Cuando se active, el menú aparecerá */
    .links-group.active {
        display: flex;
    }

    .link {
        padding: 10px 0;
    }

    .link a {
        font-size: 18px;
        line-height: normal;
    }

    .home-section {
        padding: 0;
    }
}